main {
    min-height: 80vh;
}
.categoryName:hover {
    text-decoration: underline;
}

hr {
    height: 1px;
    color: #eee;
    width: 100%;
}

.notmatch {
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.progress {
    background-color:#f5f5f5;
    height: 2.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.progress__list {
    counter-reset: progress 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 0.85rem;
}

.progress__item {
    display: flex;
    align-items: center;
}

.progress__item::before{
    content: counter(progress);
    counter-increment: progress 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    color: #bbb;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress__item:not(:last-of-type)::after {
    content: '';
    width: 280px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.progress__item-active::before{
    background-color: #343a40;
    color: #fff;
    border:none;
}

.payment__option {
    margin:1rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.payment__option i {
    font-size: 3rem;
}

.payment__option input {
   margin-right:1rem;
}


.payBtn {
    position: absolute;
    bottom:4rem;
    right:4rem;
}

.deliver_badge {
    padding: 2px 5px;
    border-radius: 5px;
}

.side-nav {
    position: absolute;
    top: 0;
    left: -110px;
    background-color: #fff;
    line-height: 0.8;
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden;
}

.side-nav__link{
    padding: 1.1rem 0.2rem !important;
    color:#333 !important;
}

.side-nav__link:hover {
    background-color: #f7f6f6;
}

.admin-nav:hover .side-nav {
    width:110px;
}

.carousel{
    width: 100vw;
    left:-12.5%;
}

.carousel-item {
    text-align: center;
}

.img-fluid{
    border-radius: 50%;
}
.carousel-caption{
    background-color: #f5f5f5a9;
    padding: 1rem;
}

.carousel-caption p {
    color:#333;
}

.carousel-indicators li {
    background-color: #333;
}

